@use "./mixins";

.container {
  width: 90%;
  max-width: 125rem;
  margin: 0 auto;

  & .productDetails {
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    & .slider {
      flex: 1 50%;
      display: flex;
      justify-content: center;
      padding-right: 2rem;
    }

    & .details {
      flex: 1 50%;
      padding-left: 2rem;

      @include mixins.mq(mixins.$brS) {
        margin-top: 2rem;
        padding-left: 0;
      }

      & .title {
        font: var(--f1);
      }

      & .sDesc {
        font: var(--lead);
        margin: 1.6rem 0 2rem;
      }

      & .info {
        display: flex;
        font: var(--body);

        & ul {
          margin-right: 4rem;

          &:nth-child(2n + 1) {
            margin-right: 0.8rem;
          }

          & li {
            list-style: none;
            margin: 1rem 0;
          }
        }
      }

      & .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        padding: 1.6rem;
        border: 1px solid var(--c1F);
        border-radius: 1.2rem;

        & .price {
          & .currPrice {
            font: var(--f2);
            color: var(--c2A);
          }

          & .oldPrice {
            font: var(--f6);
            color: var(--c1C);
            text-decoration: line-through;
          }
        }
      }

      & .wishListBtn {
        border: none;
        background-color: transparent;
        display: flex;
        font: var(--button);
        cursor: pointer;
        gap: 0.5rem;
      }

      & .desc {
        font: var(--f4);
        color: var(--c1A);
        margin: 1.6rem 0 1rem;
        padding-bottom: 3px;
        display: inline-block;
        border-bottom: 1px solid var(--c2A);
      }

      & .lDesc {
        font: var(--body);
      }
    }
  }
}
